@font-face {
  font-family: Raleway;
  src: url(https://fonts.google.com/specimen/Raleway);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(218, 28%, 13%);
  color: white;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0.5rem 0.5rem;
}

.logo img {
  height: 2rem;
  width: 6rem;
}

.nav2 {
  display: flex;
  align-items: center;
  padding: 0 6rem 0 0;
}

.nav2 a {
  padding-right: 2rem;
  color: white;
  text-decoration: none;
}

.first-section {
  min-height: 100vh;
}

.first-pic {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
}

.text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-box h2 {
  text-align: center;
  font-size: 3rem;
  font-family: Raleway;
  padding: 1rem;
}

.text-box p {
  text-align: center;
  font-size: 1rem;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.btn input {
  width: 10%;
  height: 2rem;
  background: rgb(106, 106, 241);
  color: white;
  border-radius: 20px;
}
/* second section*/
.second-section {
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
}

.icon {
  display: flex;
  padding-left: 14rem;
}

.arrange {
  margin-left: 7rem;
  width: 10rem;
  height: 10rem;
  padding: 2rem;
}

.images-1 {
  background-image: url(../images/icon-access-anywhere.svg);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 9rem;
  width: 10rem;
}

.images-2 {
  background: url("../images/icon-security.svg");
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 9rem;
  width: 7rem;
}

.images-3 {
  background: url("../images/icon-collaboration.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 12rem;
  height: 10rem;
}

.images-4 {
  background: url(../images/icon-any-file.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 7rem;
  width: 9rem;
  padding-left: 2rem;
}

.icon-text {
  padding: 0 9rem 0 0;
  text-align: center;
}

/* third section stylings*/

.third-section {
  width: 100%;
  min-height: 100vh;
  padding-top: 4rem;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.productive-image {
  width: 45%;
}

.productive-text {
  width: 45%;
  padding-top: 5rem;
}

.productive-text h1 {
  font-size: 2rem;
  font-family: Raleway;
  padding: 2rem 0 2rem 2rem;
}

.productive-text p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0 0 1rem 2rem;
}

.linking {
  display: flex;
  padding-left: 2rem;
}

.roll {
  background-color: #fff;
  margin-left: 0.3rem;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50px;
}

/*fourth section stylings*/

.fourth-section {
  width: 100%;
  min-height: 80vh;
}

.fourth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
}

.quote {
  padding-left: 11rem;
}

.cards {
  display: flex;
  justify-content: center;
}

.card-pic {
  display: flex;
  padding-top: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(219, 30%, 18%);
  margin: 0 2rem 0 0;
  padding: 1rem;
  height: 12rem;
  width: 19rem;
}

.p-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p-text h3 {
  font-size: 1rem;
  font-family: Raleway;
}

.p-text p {
  font-size: 0.7rem;
}

.profile-1 {
  background: url(../images/profile-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
  margin-right: 0.5rem;
}

.profile-2 {
  background: url(../images/profile-2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
  margin-right: 0.5rem;
}

.profile-3 {
  background: url(../images/profile-3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
  margin-right: 0.5rem;
}

/* fifth section styling*/
.fifth-section {
  min-height: 50vh;
  width: 100%;
}

.access-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 0 0;
}

.access-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: hsl(217, 28%, 15%);
  height: 30rem;
  width: 60rem;
  margin-bottom: -7rem;
}

.access-card h1 {
  text-align: center;
  font-size: 2.3rem;
}

.access-card p {
  text-align: center;
  margin: 2rem 0;
}

.form-area {
  display: flex;
  justify-content: center;
}

input[type="email"] {
  width: 20rem;
  height: 2.5rem;
  border-radius: 20px 20px 20px 20px;
  padding: 1rem;
  outline: none;
  border: none;
  margin-right: 1rem;
}

input[type="submit"] {
  width: 12rem;
  height: 2.5rem;
  border-radius: 20px 20px 20px 20px;
  padding: 1rem;
  outline: none;
  border: none;
  background: rgb(129, 129, 240);
}

/*footer stylings*/

footer {
  min-height: 70vh;
  width: 100%;
  background: hsl(216, 53%, 9%);
  padding: 11rem 2rem 0 2rem;
  z-index: 500;
}

.footer-logo img {
  height: 2rem;
  width: 7rem;
  margin: 1rem 0 3rem 5rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-text {
  display: flex;
  justify-content: space-evenly;
}

.icon-plus {
  display: flex;
  flex-direction: column;
}

.icon-plus a {
  text-decoration: none;
  color: white;
}

.location {
  display: flex;
}

.location img {
  height: 1.5rem;
  width: 1.2rem;
  margin: 0 1rem 0 0;
}

.phone {
  display: flex;
}

.phone img {
  margin: 0 1rem 0 0;
  height: 0.8rem;
  width: 0.8rem;
}

.social-media {
  display: flex;
}

.fb {
  background: url(../images/facebook.svg);
  background-size: cover;
  background-position: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
  border: 1px solid white;
}

.twitter {
  background: url(../images/twitter.svg);
  background-size: cover;
  background-position: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
  border: 1px solid white;
  margin: 0 0.6rem;
}

.instagram {
  background: url(../images/instagram.svg);
  background-size: cover;
  background-position: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
  border: 1px solid white;
}

@media only screen and (max-width: 480px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav2 {
    padding: 0 1rem 0 0;
  }

  .nav2 a {
    font-size: 0.7rem;
    padding-right: 1rem;
  }

  .logo {
    margin: 0.3rem 0.3rem;
  }

  .logo img {
    width: 4rem;
    height: 1rem;
  }

  .first-pic img {
    width: 100%;
  }

  .text-box h2 {
    font-size: 2rem;
    padding: 1rem 0 1rem 0;
  }

  .text-box p {
    text-align: center;
    font-size: 1rem;
  }

  .btn input {
    width: 60%;
    height: 3.5rem;
  }

  /* second section*/
  .second-section {
    width: 100%;
    height: 100vh;
    padding-top: 5rem;
  }

  .icon {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  .arrange {
    margin-left: 4rem;
    width: 10rem;
    height: 10rem;
    padding: 2rem;
  }

  .icon-text {
    padding: 0 0 0 0;
    text-align: center;
  }

  /* third section stylings*/

  .third-section {
    padding: 50rem 0 0 0;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .productive-image img {
    width: 20rem;
  }

  .productive-text {
    width: 100%;
    padding: 2rem 1rem 0 0;
  }

  .productive-text h1 {
    font-size: 2rem;
    padding: 2rem 0 2rem 2rem;
  }

  .productive-text p {
    font-size: 0.7rem;
    line-height: 1.3;
    padding: 0 0 1rem 2rem;
  }

  .linking {
    display: flex;
    padding-left: 2rem;
  }

  .roll {
    margin-left: 0.3rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50px;
  }

  /*fourth section stylings*/

  .fourth-section {
    width: 100%;
    min-height: 80vh;
  }

  .fourth-container {
    padding-top: 2rem;
  }

  .quote {
    padding: 6rem 0 0 3rem;
  }

  .quote img {
    height: 1.4rem;
    width: 1.4rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-pic {
    display: flex;
    padding-top: 1rem;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    height: 12rem;
    width: 15rem;
  }

  /* fifth section styling*/
  .fifth-section {
    min-height: 50vh;
    width: 100%;
  }

  .access-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 0 0;
  }

  .access-card {
    display: flex;
    flex-direction: column;
    margin: 0 0.6rem;
    height: 16rem;
    width: 18.6rem;
    margin-bottom: -6rem;
  }

  .access-card h1 {
    text-align: center;
    font-size: 1.6rem;
  }

  .access-card p {
    font-size: 0.8rem;
    text-align: center;
    margin: 1rem 1rem;
  }

  .form-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input[type="email"] {
    width: 16rem;
    height: 2.8rem;
    margin: 0 0 1rem 0;
  }

  input[type="submit"] {
    width: 16rem;
    height: 2.8rem;
  }

  /*footer stylings*/

  footer {
    padding: 8rem 2rem 0 2rem;
  }

  .footer-logo img {
    height: 3rem;
    width: 10rem;
    margin: 1rem 0 2rem 0.4rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .icon-plus {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .icon-plus a {
    text-decoration: none;
    color: white;
    padding-bottom: 0.3rem;
  }

  .location {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .location img {
    height: 1.5rem;
    width: 1.2rem;
    margin: 0 1rem 0 0;
  }

  .phone {
    display: flex;
    flex-direction: column;
  }

  .phone img {
    margin: 0 1rem 0.2rem 0;
    height: 0.8rem;
    width: 0.8rem;
  }

  .social-media {
    display: flex;
    justify-content: center;
  }
}
